.main-panel {
  margin-bottom: 65px;
  @media screen and (max-width: 750px) {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 65px;
  }
  @media screen and (max-width: 504px) {
    width: 100%;
  }
}

.btn {
  color: #ffffff;
  height: 40px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}
