.ant-radio-group{
  text-transform: uppercase;
  max-width:504px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width:504px){
    flex-direction: column;
    align-items: center;
    max-width:504px;
  }
}
.ant-radio-button-wrapper{
  width:168px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DFE5EC;
}